.signUpMainDiv {
  max-width: 360px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  font-family: "Raleway", sans-serif !important;
}

.signUpMainDiv .input {
  margin: 1% 0vw;
  width: 90%;
}

.signUpMainDiv h1 {
  color: white;
}

.signUpMainDiv .ant-btn-primary {
  width: 100%;
  font-size: 20px;
  border-radius: 0px;
  border: none;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #00cdac;
  margin: 1vw;
}

.signUpMainDiv .ant-input {
  border-radius: 7vw;
  min-height:70%;
}

.ant-input:hover {
  border-color: white !important;
}

.signUpMainDiv .ant-input-affix-wrapper {
  font-size: 4vw;
  font-weight: 300;
  color: black;
  margin: 1.5vw;
  border: none;
  border-radius: 2vw;
  padding: 1vw;
}

.signUpMainDiv .ant-input-affix-wrapper .ant-input-suffix {
  display: flex;
}

.signUpMainDiv .ant-input-affix-wrapper .ant-input-prefix {
  display: flex;
}

.input-icon {
  color: rgba(0, 0, 0, .25);
  font-size: 22px;
  vertical-align: -1.125em;
  margin: auto;
}