.card-container {
  min-height: 70px;
  overflow: hidden;
  width: 100%;
  border-radius: 5px;
  /* background-color: #5f6ae71a; */
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 10px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
}
.card-container > .inner-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tag-group {
  margin-top: 3px;
}
.tag-group > .ant-tag {
  border: dashed 1px #13c2c2;
  background: #fff;
  color: #13c2c2;
}

.description-container {
  margin-left: 5px;
}

.expand-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

/* .card-container:hover {
  background: linear-gradient(to right, #8e54e9, #4776e6);
  color: white;
  cursor: pointer;
}

.card-container:focus {
  background: linear-gradient(to right, #8e54e9, #4776e6);
  color: white;
} */

.card-container p {
  word-break: break-all;
}

.card-container h3 {
  color: inherit;
}

.button-openfile {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
