.otpMainDiv {
  width: 100%;
  max-width: 360px;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", sans-serif !important ;
}

.otpMainDiv .otp-input {
  margin: 2vw 0vw;
  max-width: 80%;
  height: 8%;
}

.otpMainDiv h1,h4,h5 {
  color: white;
}

.otpMainDiv .ant-btn-primary {
  width: 50%;
  font-size: 20px;
  border-radius: 7vw;
  border: none;
  background-color: white;
  color: #00cdac;
  margin: 2vw;
}

.otpMainDiv .ant-input {
  border-radius: 7vw;
}

.ant-input:hover {
  border-color: white !important;
}

.otpMainDiv .ant-input-affix-wrapper {
  height: 15vw;
  font-size: 4vw;
  font-weight: 300;
  color: black;
  margin: 1.5vw;
  border: none;
  border-radius: 2vw;
  padding: 1vw;
}
.resend-modify {
cursor: pointer;

}
.resend-modify:hover{
  text-decoration: underline;
}