.otpParent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.otpMainDiv {
  width: 98%;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", sans-serif !important ;
}

.otpMainDiv h1 {
  color: white;
}

.otpMainDiv .ant-btn-primary {
  width: 130px;
  height: 40px;
  font-size: 15px;
  border-radius: 20px;
  padding: 2px;
  background-color: white;
  color: #00cdac;
}

.otpMainDiv .ant-input {
  border-radius: 20px;
  margin: 10px;
  height: 45px;
}

.ant-input:hover {
  border-color: white !important;
}
