.home-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}

.list-item{
  display:flex;
  align-items: center;
  justify-content: space-around;
  width: 200px
}
