.home-main {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  height: auto;
  overflow-y: auto;
  justify-content: flex-start;
}

/* MAPBOX START */
.map-content {
  width: 100%;
}
.mapboxgl-map {
  height: 50%;
}
/* MAPBOX END */
.address-container {
  display: flex;
  height: 170px;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
  width: 100%;
  margin-top: 40%;
}

.upload-button-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.upload-button {
  padding: 5px;
  width: 120px;
  border-radius: 18px;
  height: 35px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.upload-button-back {
  background: #13c2c2;
  color: white;
}
.upload-button-border {
  border: solid 1px #13c2c2;
  color: #13c2c2;
}
.cancel-button {
  border: solid 1px dashed;
}
.ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}
.list-container {
  width: 100%;
  margin: 10x;
}
.list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  justify-content: flex-start;
  width: 100%;
}
.top-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.dropDown-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.dropDown-container .ant-select {
  width: 45%;
}
.timeRadioContainer {
  margin-top: 16px 0;
}
.dateAndTime {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 16px 0;
}
.dateAndTime span {
  width: 45%;
}
.loading-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
}
